# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript, JSX, TypeScript, and JSON files
[*.{js,jsx,ts,tsx,json}]
indent_style = tab
indent_size = 2
max_line_length = 100

# CSS, SCSS, and Tailwind files
[*.{css,scss}]
indent_style = tab
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Package files
[package.json]
indent_style = tab
indent_size = 2

# Config files
[*.{yml,yaml,env,env.*}]
indent_style = tab
indent_size = 2
